.march-13 {
  position: relative;
  line-height: 100%;
  font-weight: 500;
  display: none;
  min-width: 44px;
  z-index: 0;
}
.frame-child2 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -143px;
  max-height: 100%;
  object-fit: cover;
  z-index: 2;
}
.frame-child3 {
  height: 143.3px;
  width: 143.3px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.frame-child4,
.rectangle-container {
  margin: 0 !important;
  position: absolute;
}
.frame-child4 {
  height: 100%;
  width: 100%;
  top: 0;
  right: -142px;
  bottom: 0;
  max-height: 100%;
  object-fit: cover;
  z-index: 4;
}
.rectangle-container {
  top: 549px;
  left: 144px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.a1 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 34px;
  white-space: nowrap;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px;
}
.chance-franci {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 100%;
  font-weight: 600;
  font-family: inherit;
}
.chance-franci-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 var(--padding-8xs);
}
.frame-child5 {
  width: 85px;
  height: 85px;
  position: relative;
}
.chance,
.photography {
  position: relative;
  line-height: 100%;
  display: inline-block;
}
.chance {
  font-weight: 600;
  min-width: 56px;
}
.photography {
  min-width: 79px;
}
.photography-wrapper {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
  text-align: left;
  font-size: var(--font-size-smi);
  color: #aeaeae;
}
.chance-parent,
.frame-wrapper6,
.photography-wrapper {
  display: flex;
  align-items: flex-start;
}
.chance-parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frame-wrapper6 {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 var(--padding-9xs);
}
.frame-parent7 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.div,
.posts {
  position: relative;
  line-height: 100%;
  display: inline-block;
}
.div {
  font-weight: 600;
  min-width: 32px;
}
.posts {
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
  min-width: 34px;
}
.parent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-wrapper5,
.frame-wrapper7,
.parent {
  display: flex;
  align-items: flex-start;
}
.frame-wrapper7 {
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 0 0;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.frame-wrapper5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 var(--padding-8xs);
}
.edit-profile {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-400);
  text-align: center;
  display: inline-block;
  min-width: 73px;
}
.edit-profile-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 49px;
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-6xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.edit-profile-wrapper:hover,
.share-profile-wrapper:hover {
  background-color: var(--color-lightgray);
}
.frame-parent5 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-lg);
  font-size: 15px;
  color: var(--color-gray-200);
}
.frame-parent4,
.frame-parent5,
.frame-wrapper4 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent4 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
}
.frame-wrapper4 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 var(--padding-6xs) var(--padding-base);
  text-align: center;
  font-size: var(--font-size-5xl);
}
.bigrid-3x3-gap-fill-icon {
  height: 27px;
  width: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.bigrid-3x3-gap-fill-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 58px;
}
.line-icon {
  height: 2px;
  width: 65px;
  position: relative;
}
.vector-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 39px;
}
.content-background-icon {
  width: 143.3px;
  height: 143.3px;
  position: relative;
  object-fit: cover;
}
.frame-parent3,
.frame-parent8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent8 {
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-3xs);
}
.frame-parent3 {
  align-self: stretch;
  height: 521.3px;
  padding: 0 0 228.3px;
  box-sizing: border-box;
  gap: var(--gap-15xl);
  flex-shrink: 0;
}
.background-icon {
  width: 143.3px;
  height: 143.3px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
  z-index: 4;
}
.frame-parent2 {
  height: 807.3px;
  width: 187px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-267xl);
  box-sizing: border-box;
  gap: var(--gap-123xl-7);
  min-width: 187px;
}
.iconamoonarrow-up-2-light1 {
  width: 19.8px;
  height: 13px;
  position: relative;
  object-fit: contain;
}
.iconamoonarrow-up-2-light-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}
.phcell-signal-high-bold-icon1,
.vaadinsignal-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.vaadinsignal-icon1 {
  top: 3px;
  left: 24px;
  width: 14px;
  height: 14px;
}
.phcell-signal-high-bold-group {
  height: 20px;
  width: 38px;
  position: relative;
}
.frame-wrapper8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-12xs);
}
.frame-child6 {
  width: 24px;
  height: 24px;
  position: relative;
}
.frame-parent15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 35px;
}
.frame-input {
  margin: 0;
  width: 22px;
  height: 15px;
}
.empty-battery-percentage {
  width: 22px;
  height: 18px;
  position: relative;
}
.frame-parent16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 39px;
}
.frame-parent13,
.frame-parent14 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frame-parent13 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.div1,
.m {
  position: relative;
  line-height: 100%;
  font-weight: 600;
  display: inline-block;
  min-width: 37px;
}
.div1 {
  min-width: 21px;
}
.frame-wrapper11,
.m-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.m-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper11 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-mid) 0 var(--padding-3xs);
}
.followers {
  position: relative;
  line-height: 100%;
  display: inline-block;
  min-width: 56px;
}
.followers-parent {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.followers-parent,
.frame-parent17,
.frame-wrapper10 {
  display: flex;
  align-items: flex-start;
}
.frame-parent17 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.frame-wrapper10 {
  width: 194px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-mid);
  box-sizing: border-box;
}
.frame-parent12 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-lgi) 0 0;
  gap: 53px;
}
.octiconperson-add-16 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.octiconperson-add-16-wrapper {
  position: absolute;
  top: 0;
  left: 180px;
  border-radius: var(--br-6xs);
  background-color: var(--color-whitesmoke-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xs);
}
.share-profile {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 100%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-gray-400);
  text-align: center;
  display: inline-block;
  min-width: 86px;
}
.share-profile-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) 41px;
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-6xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
}
.noun-reels-video-4512655-1-icon {
  width: 26px;
  height: 26px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.noun-reels-video-4512655-1-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.icround-person-pin-icon {
  height: 29px;
  width: 29px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 29px;
}
.frame-parent19,
.frame-wrapper13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper13 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
}
.frame-parent19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 171px;
  flex-direction: column;
  gap: 40px;
}
.frame-child7 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -142px;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.frame-child8 {
  height: 143.3px;
  width: 143.3px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.rectangle-parent1 {
  position: absolute;
  top: 119px;
  left: 86px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent18 {
  height: 262.3px;
  flex: 1;
  position: relative;
}
.frame-parent11,
.frame-wrapper12 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper12 {
  flex-direction: row;
  padding: 0 0 0 var(--padding-5xs);
}
.frame-parent11 {
  height: 524.3px;
  flex-direction: column;
  padding: 0 0 358.3px;
  box-sizing: border-box;
  gap: 96px;
  flex-shrink: 0;
}
.frame-child9 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -142px;
  max-height: 100%;
  object-fit: cover;
  z-index: 5;
}
.frame-child10 {
  height: 143.3px;
  width: 143.3px;
  position: relative;
  object-fit: cover;
  z-index: 6;
}
.rectangle-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.frame-main,
.frame-parent10 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-parent10 {
  height: 810.3px;
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-267xl);
  box-sizing: border-box;
  gap: var(--gap-123xl-7);
  min-width: 154px;
  text-align: center;
  font-size: var(--font-size-base);
}
.frame-main {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  gap: 4px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.frame-child11,
.frame-child12 {
  height: 143.3px;
  width: 143.3px;
  bottom: -46.3px;
  object-fit: cover;
}
.frame-child11 {
  position: absolute;
  margin: 0 !important;
  left: 39px;
  z-index: 6;
}
.frame-child12 {
  right: 180.7px;
  z-index: 7;
}
.frame-child12,
.frame-child13,
.frame-child14 {
  position: absolute;
  margin: 0 !important;
}
.frame-child13 {
  height: 143.3px;
  width: 143.3px;
  right: 38.7px;
  bottom: -46.3px;
  object-fit: cover;
  z-index: 8;
}
.frame-child14 {
  width: 4px;
  height: 4px;
  right: 82px;
  bottom: 10px;
  border-radius: 50%;
  background-color: var(--color-red);
}
.line-div {
  align-self: stretch;
  height: 1.5px;
  position: relative;
  border-top: 1.5px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.teenyiconshome-solid {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
}
.avatar-image-60,
.iconamoonsearch-light {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.iconamoonsearch-light {
  height: 26px;
  width: 26px;
  cursor: pointer;
}
.avatar-image-60 {
  height: 27px;
  width: 27px;
  border-radius: var(--br-11xl);
  object-fit: cover;
  min-height: 27px;
}
.frame-parent21 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.ellipse-parent,
.frame-wrapper14 {
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper14 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-14xl) 0 var(--padding-15xl);
}
.ellipse-parent {
  flex: 1;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-11xs) var(--padding-17xl) var(--padding-lgi)
    var(--padding-19xl);
  gap: var(--gap-mid-5);
  z-index: 9;
}
.account,
.ellipse-parent,
.rectangle-parent3 {
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.rectangle-parent3 {
  margin-right: -38.7px;
  width: 506px;
  flex-direction: row;
  align-items: flex-start;
  max-width: 118%;
  flex-shrink: 0;
}
.account {
  width: 100%;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
  gap: 29.7px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray);
  font-family: var(--font-inter);
}
@media screen and (max-width: 348px) {
  .frame-parent21 {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 344px) {
  .frame-parent2 {
    flex: 1;
  }
  .frame-main {
    flex-wrap: wrap;
  }
}
